<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="https://static.ink.ovh/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://static.ink.ovh/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://static.ink.ovh/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://static.ink.ovh/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</div>
</html>